<div class="center hero-unit">
  <h1>Bienvenue dans l'application Tok IA</h1>

  <h2>
  Application pour faire combattre des IA de Tok
 </h2>

  <% unless signed_in? %>
    <%= link_to "Créer un compte", signup_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>
<script>
  ykeys = <%= raw @ykeys.to_json %>;
  labels = <%= raw @labels.to_json %>;
</script>

<h5>Graphe des scores ELO des IA :</h5>
<div id="elograph"></div>

<div id="event_comments">
  <h5>Derniers événements :</h5>
</div>

<% if @games != nil %>
<div>
  <h5>Dernier Match (ou match en cours) :</h5>
  <%= render @games %>
</div>
<% end %>

<p><%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
</p>

