<% provide(:title, 'Les concurrents') %>
<h1>Liste des concurrents</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>

<script>
  ykeys = <%= raw @ykeys.to_json %>;
  labels = <%= raw @labels.to_json %>;
</script>

<div id="elograph"></div>
