<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>


      <strong>
        Classement ELO actuel :
        <%= @ai.elo %>
      </strong>

  <p>Liste des parties du joueur :</p>
  <li>
  <%= will_paginate @matches %>
  <ul class="matches">
    <% if @ai != nil %>
    <%= render @matches %>
    <% end %>
  </ul>
  <%= will_paginate @matches %>
  </li>
</div>
