<% provide(:title, "Modification d'une IA") %>
<h1>Mettre à jour une IA</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@ai, :html => {:multipart => true}) do |f| %>
      <%= render 'shared/error_messages' %>


      <%= f.label :name, "Nom" %>
      <%= f.text_field :name %>

      <p>
        <%= f.label :active, 'Active (joue des matches)' %>
        <%= f.check_box :active %>
      </p>

      <%= f.label :version %>
      <%= f.text_field :version %>


        <%= f.label :data, "Mettre à jour le fichier" %>
        <%= f.file_field :data %>
        <br>
        <i>
          Mettre à jour le fichier provoque l'apparition d'un événement dans le graphique, 
          libellé comme la version associée au moment de l'enregistrement. Vous pouvez laisser
          un commentaire (public) sur cet événement : 
          <%= text_field_tag :event_comment %>
        </i>

      <p>
        <%= f.label :language, 'Langage' %>
        <% [ 'java 1.6', 'scala 2.10.3', 'php 5', 'mono'].each do |language| %>
          <br><%= f.radio_button :language, language %>
          <%= language.humanize %>
        <% end %>
      </p>

      <%= f.label :firstparam, "Premier paramètre (optionnel, exemple la classe Java à lancer)" %>
      <%= f.text_field :firstparam %>

      <%= f.submit "Enregistrer", class: "btn btn-large btn-primary" %>
    <% end %>


  </div>
</div>
