<% provide(:title, "Modification d'une IA") %>
<h1>Mettre à jour une IA</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@ai, :html => {:multipart => true}) do |f| %>
      <%= render 'shared/error_messages' %>


      <%= f.label :name, "Nom" %>
      <%= f.text_field :name %>

      <p>
        <%= f.label :active, 'Active (joue des matches)' %>
        <%= f.check_box :active %>
      </p>

      <%= f.label :version %>
      <%= f.text_field :version %>

      <%= f.label :command_line, "Ligne de commande" %>
      <%= f.text_field :command_line %>

      <p>
        <%= f.label :data, "Uploader un fichier" %>
        <%= f.file_field :data %>
      </p>

      <%= f.submit "Enregistrer", class: "btn btn-large btn-primary" %>
    <% end %>


  </div>
</div>
