<% provide(:title, "Modification d'une IA") %>
<h1>Créer une IA</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@ai, :html => {:multipart => true}) do |f| %>
      <%= render 'shared/error_messages' %>


      <%= f.label :name, "Nom" %>
      <%= f.text_field :name %>
      <br>
        <i>
          Attention le nom a deux contraintes. D'abord, ça doit IMPERATIVEMENT être un jeu de mot débile avec "tok", et d'autre part il faut que le nom mis ici soit identique à celui renvoyé par le client au moment de l'identification (ça permet la vérification automatique des parties après coup).
        </i>

      <p>
        <%= f.label :active, 'Active (joue des matches)' %>
        <%= f.check_box :active %>
      </p>

      <%= f.label :version %>
      <%= f.text_field :version %>

      
        <%= f.label :data, "Choisir un fichier" %>
        <%= f.file_field :data %>
       

      <p>
        <%= f.label :language, 'Langage' %>
        <% [ 'java 1.6', 'scala 2.10.3', 'php 5', 'python 3.2', 'mono'].each do |language| %>
          <br><%= f.radio_button :language, language %>
          <%= language.humanize %>
        <% end %>
      </p>

      <%= f.label :firstparam, "Premier paramètre (optionnel, exemple la classe Java à lancer)" %>
      <%= f.text_field :firstparam %>

      <%= f.submit "Enregistrer", class: "btn btn-large btn-primary" %>
    <% end %>


  </div>
</div>
