<li>
  <p>
  <%= match.ai_1.name %> contre <%= match.ai_2.name %>
  </p>
  <%= match.created_at %> 
  <p>
  <% if @ai == match.winner %>
  Victoire !
  <% end %>
  <%= link_to "Replay", match.games.first %>
  <%= link_to "server.log", viewlog_url(match.games.first.id, "server") %>
  <%= link_to "gamelog", viewlog_url(match.games.first.id, "game") %>
  <%= link_to "client_A.log", viewlog_url(match.games.first.id, "client_A") %>
  <%= link_to "client_B.log", viewlog_url(match.games.first.id, "client_B") %>
  <%= link_to "client_C.log", viewlog_url(match.games.first.id, "client_C") %>
  <%= link_to "client_D.log", viewlog_url(match.games.first.id, "client_D") %>
  
  
  </p>


</li>
